.flag{
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;

    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    
    &.left{
        justify-content: flex-start;
    }

    &.no-clip {
        clip-path: none;
    }
    
    
    &-score{
        font-family: Digital7;
        font-size: 180px;
        padding: 0 2px;
        &.white{
            color:white;
        }
        &.small{
            font-size:100px;
        }
        &.micro{
            font-size:1em;
        }
    }

    &.red {
        background: linear-gradient(90deg, red 0%, 50%, transparent 100%);
    }
    &.blue{
        background: linear-gradient(90deg, blue 0%, 50%, transparent 100%);
    }
    &.green{
        background: linear-gradient(90deg, green 0%, 50%, transparent 100%);
    }
    &.yellow{
        background: linear-gradient(90deg, yellow 0%, 50%, transparent 100%);
    }
    &.pink{
        background: linear-gradient(90deg, magenta 0%, 50%, transparent 100%);
    }
    &.purple{
        background: linear-gradient(90deg, purple 0%, 50%, transparent 100%);
    }
    &.messi{
        background: linear-gradient(90deg, #75AADB 0%, 50%, transparent 100%);
    }
}