.next-up-row{
    display: grid;
    grid-template-columns: 70px 90px 1fr;
    align-items: center;
    &-score{
        font-family: Digital7;
        font-size:60px;
    }

    &-name{
        font-family: BebasNeue;
        font-size:60px;
        white-space: nowrap;
    }
}