.match-stream-team{
    background:black;
    border-radius: 25px 0 0 25px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50px 100px repeat(auto-fill, 30px);
    align-items: center;

    clip-path: polygon(0% 0, 100% 0, 95% 100%, 0 100%);
    .name{
        font-family: BebasNeue;
        font-size:1.5rem;
    }
    .score{
        font-family: Digital7;
        font-size:1.5rem;
    }
}