.competitor{
    display: grid;
    grid-template-rows: 100px 90px 2fr;
    &.hide-header{
        grid-template-rows: 90px 1fr;
    }
    &-kingside{
        &-header,
        &-name{
            font-family: BebasNeue;
            display: flex;
            align-items: center;
        }
        &-header{
            padding-left: 72px;
            font-size: 100px;
            line-height: 100px;
            font-weight: bold;;
        }
        &-name{
            padding-left: 61px;
            font-size: 90px;
            line-height: 90px;
            white-space: nowrap;
        }
    }
}