.next-up{
    display:grid;
    grid-template-rows: 100px 1fr;
    &.hideHeader{
        grid-template-rows: 1fr;
    }
    &-header{
        display:flex;
        align-items: center;
        span{
            font-family: BebasNeue;
            font-size: 100px;
        }
    }
    
    .rows{
        display:grid;
        grid-template-rows: repeat(auto-fill, minmax(70px, 1fr) );
        grid-row-gap: 20px;
    }
}