.teamspage{
    background: rgba(0,0,0,.5);
    color: white;
    width:100%;
    height:100%;
    position: relative;
    border-radius: 100px 0 0 0;
    
    .fullscreen{
        display: grid;
        height: 100%;
        grid-template-rows: 1fr;
        padding: 10vh 10vw;
    }
    
    .competitors-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 50px;
    }
}

