.dashboard{
    background: black;
    color: white;
    width:100%;
    height:100%;
    position: relative;

    .fullscreen-button{
        width:200px;
        position:absolute;
        left: calc(50% - 100px);
    }
    .fullscreen{
        display: grid;
        height: 100%;
        grid-template-rows: 1fr 1fr;
        padding: 10vh 10vw;
    }
    .timer-wrapper{
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .competitors-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 50px;
    }

}