*{
  margin:0;
  box-sizing: border-box;
}

html {
  display: block;
}

.app{
  width: 100%;
  height:100%;
  position: absolute;
}

@font-face {
  font-family: Digital7;
  src: url('./digital-7.ttf') format('truetype');;
}
@font-face {
  font-family: BebasNeue;
  src: url('./BebasNeue.ttf') format('truetype');;
}