.match-controls{
    padding: 60px;
    width: 100%;
    height: 100%;
    display:grid;
    // grid-template-rows: 1fr 1fr 50px;
    // grid-row-gap: 20px;
    &-header-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &-competitor{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;

        &-name,
        &-set,
        &-controls{
            display:flex;
            justify-content: center;
            align-items: center;
        }
        &-set{
            small{
                margin-right:10px;
            }
            span{
                font-size:5em;
            }
        }
        &-controls{

        }
    }
    &-footer{
        display: grid;
        align-items: center;
    }
}
