.controls{
    background:white;
    padding: 60px;
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-rows: 1fr 50px;
    grid-row-gap: 20px;
    
    &-upper{
        display:grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 10px;
    }

    &-timer-wrapper{
        display: grid;
        grid-template-rows: 150px 1fr;
    }

    &-timer-controls{
        display: grid;
        align-items: center;
        grid-template-rows: repeat(auto-fill, 60px);
    }

    &-contenders{
        &-section{
            display: grid;
            grid-template-rows: auto 1fr;
            grid-row-gap:10px;
        }

        &-upper{
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 10px;
        }

        &-competitor{
            display:grid;
            grid-template-rows: 20px 1fr;
            grid-row-gap: 10px;
        }
        &-contender{
            display: grid;
            grid-template-rows: 30px 95px 50px;
            align-items: center;
        }
        
    }
    
    &-team-list{
        display: grid;
        grid-template-rows: repeat(auto-fill, 40px);
        grid-row-gap: 5px;
    }
    &-add-team{
        display:grid;
        grid-template-columns: 110px 1fr 160px;
        grid-column-gap: 10px;
    }
    
    &-reset{
        display:grid;
    }
}