.match-dashboard{
    background: black;
    color: white;
    width:100%;
    height:100%;
    position: relative;

    .fullscreen-button{
        width:200px;
        position:absolute;
        left: calc(50% - 100px);
    }

    .fullscreen{
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        padding: 10vh 10vw;
    }
}