.timerpage{
    background: rgba(0,0,0,.5);
    color: white;
    width:100%;
    height:100%;
    position: relative;
    border-radius: 0  0 100px 0;

    .fullscreen{
        display: grid;
        height: 100%;
        grid-template-rows: 1fr;
        padding: 30px 70px;
    }
    .timer-wrapper{
        display: flex;
        align-items: flex-end;
        justify-content:flex-end;
    }
}

